<section class="contact">

    <h1 class="heading"> <span>C</span>o<span>n</span>t<span>a</span>t<span>o</span></h1>

    <div class="row">

        <div class="info-container">

            <h1>Entrar em contato</h1>

            <div class="box-container">

                <div class="box">
                    <i class="fas fa-map"></i>
                    <div class="info">
                        <h3>Endereço :</h3>
                        <p>Goiânia/GO - Brasil</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <div class="info">
                        <h3>email :</h3>
                        <p>dev.rabelo@gmail.com</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-phone"></i>
                    <div class="info">
                        <h3>WhatsApp / Celular :</h3>
                        <p>+55 62 9 8555-5138</p>
                    </div>
                </div>

            </div>

            <div class="share">
                <a href="#" class="fab fa-instagram" href="https://www.instagram.com/dev.rbl/" target="_blank" rel="noopener noreferrer"></a>
                <a href="#" class="fab fa-whatsapp" href="https://api.whatsapp.com/send?phone=5562985555138&text=Ol%C3%A1%2C%20gostaria%20de%20realizar%20um%20projeto%20com%20voc%C3%AA." target="_blank" rel="noopener noreferrer"></a>
                <a href="#" class="fab fa-github" href="https://github.com/VictorRabelo" target="_blank" rel="noopener noreferrer"></a>
                <a href="#" class="fab fa-linkedin" href="https://www.linkedin.com/in/victor-rabelo-2a11ba204/" target="_blank" rel="noopener noreferrer"></a>
            </div>

        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="Seu nome">
                <input type="number" placeholder="Seu número">
            </div>

            <div class="inputBox">
                <input type="email" placeholder="Seu email">
                <input type="text" placeholder="Assunto">
            </div>

            <textarea name="" placeholder="Mensagem" id="" cols="30" rows="10"></textarea>

            <button type="submit" class="btn"> 
                Enviar mensagem 
                <i class="fas fa-paper-plane"></i>
            </button>

        </form>

    </div>

</section>