<section class="portfolio">

    <h1 class="heading"> <span>Meus</span> Trabalhos </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/img-1.jpg" alt="">
            <div class="content">
                <h3>Projeto 01 - Repertorioficial</h3>
                <p>Sistema EAD com E-commerce</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="https://repertoriooficial.com.br/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-2.jpg" alt="">
            <div class="content">
                <h3>Projeto 02 - GoiasPane</h3>
                <p>Sistema ERP com emissão de nota fiscal, controle de usuario, controle de estoque, vendas, contas a pagar e receber, movimentação de caixa e até mesmo um PDV.</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="https://goiaspane.com/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
       
        <div class="box">
            <img src="assets/images/img-3.jpg" alt="">
            <div class="content">
                <h3>Projeto 03 - Casa do importado</h3>
                <p>Sistema ERP simples, sem nota fiscal, controle de usuario, controle de estoque, vendas, contas a pagar e receber, movimentação de caixa.</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="https://casadoimportadogo.com/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-4.jpg" alt="">
            <div class="content">
                <h3>Projeto 04 - Little Trees Go</h3>
                <p>Sistema ERP simples, sem nota fiscal, controle de usuario, controle de estoque, vendas, contas a pagar e receber, movimentação de caixa.</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="https://littletreesgo.com/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-5.jpg" alt="">
            <div class="content">
                <h3>Projeto 05 - App Entregador</h3>
                <p>Sistema para entregador do Casa do importado e do Little trees, o aplicativo consome essas duas api's.</p>
                <p>Tecnologias: Angular e Laravel</p>
                <a href="http://app.littletreesgo.com/" target="_blank" rel="noopener noreferrer">Ver projeto</a>
            </div>
        </div>
        
        <div class="box">
            <img src="assets/images/img-6.jpg" alt="">
            <div class="content">
                <h3>Projeto 06 - Cardapio Web</h3>
                <p>Aplicativo que mostra o cardapio de um restaurante, projeto privado.</p>
                <p>Tecnologias: Ionic e Java</p>
            </div>
        </div>

    </div>

    <!-- <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a> -->
    
</section>