<section class="home">

    <div class="image">
        <img src="assets/images/user.png" alt="LOGO">
    </div>

    <div class="content">
        <h3>Olá, sou o David Martins</h3>
        <span>Desenvolvedor Web Full-Stack</span>
        <p style="text-transform: none;">Programador por amor, programando sempre com muita dedicação em meus projetos, amo ser programador e faço com muito prazer e amor, sempre estou buscando estar em constante desenvolvimento de minhas habilidades e crescimento profissional.</p>
        <a class="btn" [routerLink]="['/sobre']"> 
            Sobre eu
            <i class="fas fa-user"></i>
        </a>
    </div>

</section>